<h1>course</h1>

<p>
    <strong>Name:</strong>
    <%= @course.name %>
</p>

<p>
    <strong>Addr:</strong>
    <%= @course.addr %>
</p>

<%=link_to 'Edit', edit_course_path(@course)%>
<%= link_to 'see list of courses', action:'index' %>